<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">
          HERO APP
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li [ngClass]="{'active': isActive('') }">
          <a routerLink="/">HOME</a>
        </li>
        <li [ngClass]="{'active': isActive('/heroes') }">
          <a routerLink="/heroes">HEROES</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-lg-6">
    <app-hero-create></app-hero-create>
  </div>
  <div class="col-lg-6">
    <router-outlet></router-outlet>
  </div>
</div>

